<kt-portlet>
    <mat-card [ngStyle]="{'background': backgroundColor}">
        <div style="font-size: 24px;
        color: white;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;">
            {{data.flag == "salida" ? 'SCAN DE SALIDA' : 'SCAN DE RECEPCION' }}
        </div>
    </mat-card>
    <kt-portlet-body>
        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        Tracking
                    </mat-card-header>
                    <div class="separator separator-dashed my-6"></div>
                    <mat-card-content [formGroup]="scanForm">
                        <mat-form-field class="mat-form-field-fluid" style="width: 80%;font-size: 50px;margin-left: auto;margin-right: auto;">
                            <input #scanInput matInput placeholder="Scan by Tracking" formControlName="idControl" (keydown.enter)="scan($event)" />
                        </mat-form-field>

                        <div style="font-size: 50px;
                        width: fit-content;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;
                        padding: 25px;
                        margin-bottom: 30px;" class="status0" *ngIf="statusTitle == 'aceptado'; else elsetemp">
                            {{statusTitle}}
                        </div>
                        <ng-template #elsetemp>
                            <ng-container *ngIf="statusTitle != undefined">
                                <div style="font-size: 50px;
                                width: fit-content;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 30px;
                                padding: 25px;
                                margin-bottom: 30px;" class="status2">
                                    <!-- *ngIf="statusTitle == 'No existe' || statusTitle == 'esta cancelado' || statusTitle == 'fue entregado' || statusTitle == 'ya esta en bodega' ||statusTitle == 'esta por entregar'"> -->
                                    {{statusTitle}}
                                </div>
                            </ng-container>
                        </ng-template>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        SCAN LOG
                    </mat-card-header>
                    <div class="separator separator-dashed my-6"></div>
                    <mat-card-content>
                        <div class="container" *ngFor="let table of tables">
                            <div class="row" style="margin-top: 10px;">
                                <div>{{table.assignedTo}}</div>
                                <div style="margin-left: auto; margin-right: 20px;">Order&nbsp;&nbsp;{{table.idorders}}</div>
                            </div>
                            <div>
                                <div class="row" *ngFor="let package of table.packages" style="margin-top: 5px;">
                                    <div class="col-md-6">
                                        {{package.idpackages}}
                                    </div>
                                    <div class="col-md-5">
                                        {{table.assignedTo}}
                                    </div>
                                    <div class="col-md-1">
                                        <!-- {{package.status}} -->
                                        <div *ngIf="getCheck(package.status)" style="background: #3699FF; color: #cbe2fe; text-align: center; border-radius: 10px;">
                                            &#10003;
                                        </div>
                                        <div *ngIf="!getCheck(package.status)" style="background: grey; color: #ebedf3; text-align: center; border-radius: 10px;">
                                            &#10003;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>