@media print {
    @page {
        margin: 0;
        size: 2in 4in !important;
        /* auto is the initial value */
        margin: 0mm;
        /* this affects the margin in the printer settings */
    }
    body {
        margin: 0cm;
        width: 2in;
        height: 4in;
    }
    body * {
        visibility: hidden;
        width: 2in;
        height: 4in;
    }
    #print,
    #print * {
        visibility: visible;
    }
    #print {
        position: absolute;
        // left: 0;
        top: 600px;
        left: 430px;
        transform: scale(4.5);
    }
}

.barcode>svg {
    width: 100% !important;
}