<mat-card>
    <mat-card-header>
        Delivery Proof
    </mat-card-header>
    <div class="separator separator-dashed my-6"></div>
    <mat-card-content style="display: grid; margin-left: 30px;">
        <div class="row">
            <div class="col">
                <div>Received by</div>
                <div><strong>Juan Perez</strong></div>
            </div>
            <div class="col">
                <div>Extra Comments</div>
                <div><strong>comments comments comments, comments, comments</strong></div>
            </div>
        </div>
        <div style="border: black 1px solid; margin: 20px; height: 100px;">
            Signature
        </div>

    </mat-card-content>
</mat-card>