<kt-notice [svg]="'assets/media/svg/icons/Tools/Tools.svg'">
	<p>
		The layout builder is to assist your set and configure your preferred project layout specifications and preview
		it in real time.
		The configured layout options will be saved until you change or reset them.
		To use the layout builder, choose the layout options and click the <code>Preview</code> button to preview the
		changes and click the <code>Export</code> button to download the HTML template with its includable partials of
		this demo.
		In the downloaded folder the partials(header, footer, aside, topbar, etc) will be placed seperated from the base
		layout to allow you to integrate base layout into your application
	</p>
	<p>
		<span class="label label-inline label-pill label-danger label-rounded mr-2">NOTE:</span>
		The downloaded version does not include the assets folder since the layout builder's main purpose is to help to
		generate the final HTML code without hassle.
	</p>
</kt-notice>

<!--begin::Card-->
<div class="card card-custom gutter-b">
	<!--begin::Header-->
	<div class="card-header card-header-tabs-line">
		<ul ktTabClickEvent class="nav nav-dark nav-bold nav-tabs nav-tabs-line" role="tablist">
			<li class="nav-item">
				<a (click)="tab.select('tab-id-1')" class="nav-link active" href="javascript:;" role="tab">
					Header
				</a>
			</li>
			<li class="nav-item">
				<a (click)="tab.select('tab-id-2')" class="nav-link" href="javascript:;" role="tab">
					Subheader
				</a>
			</li>
			<li class="nav-item">
				<a (click)="tab.select('tab-id-3')" class="nav-link" href="javascript:;" role="tab">
					Content
				</a>
			</li>
			<li class="nav-item">
				<a (click)="tab.select('tab-id-4')" class="nav-link" href="javascript:;" role="tab">
					Aside
				</a>
			</li>
			<li class="nav-item">
				<a (click)="tab.select('tab-id-5')" class="nav-link" href="javascript:;" role="tab">
					Footer
				</a>
			</li>
		</ul>
	</div>
	<!--end::Header-->

	<!--begin::Form-->
	<form class="form" novalidate #form="ngForm" (ngSubmit)="submitPreview($event)">
		<!--begin::Body-->
		<div class="card-body">
			<ngb-tabset #tab="ngbTabset">			
				<ngb-tab id="tab-id-1">
					<ng-template ngbTabContent>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Desktop Fixed Header:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][header][self][fixed][desktop]"
											[(ngModel)]="model.header.self.fixed.desktop" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Enable fixed header for desktop mode</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Mobile Fixed Header:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][header][self][fixed][mobile]"
											[(ngModel)]="model.header.self.fixed.mobile" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Enable fixed header for mobile mode</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Header Width:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid"
									name="builder[layout][header][self][width]" [(ngModel)]="model.header.self.width">
									<option value="fluid">Fluid</option>
									<option value="fixed">Fixed</option>
								</select>
								<div class="form-text text-muted">Select header width type.</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Display Header Menu:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][header][menu][self][display]"
											[(ngModel)]="model.header.menu.self.display" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Display header menu</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Header Menu Layout:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid"
									name="builder[layout][header][menu][self][layout]"
									[(ngModel)]="model.header.menu.self.layout">
									<option value="default">Default</option>
									<option value="tab">Tab</option>
								</select>
								<div class="form-text text-muted">Select header width type.</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Header Menu Arrows:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][header][menu][self][rootArrow]"
											[(ngModel)]="model.header.menu.self.rootArrow" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Enable header menu root link arrows</div>
							</div>
						</div>						
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-2">
					<ng-template ngbTabContent>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Display Subheader:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][subheader][display]"
											[(ngModel)]="model.subheader.display" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Display subheader</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Fixed Subheader:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][subheader][fixed]"
											[(ngModel)]="model.subheader.fixed" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Enable fixed(sticky) subheader. Requires
									<code>Solid</code> subheader style.</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Width:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid" name="builder[layout][subheader][width]"
									[(ngModel)]="model.subheader.width">
									<option value="fluid">Fluid</option>
									<option value="fixed">Fixed</option>
								</select>
								<div class="form-text text-muted">Select layout width type.</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Subheader Style:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid" name="builder[subheader][style]"
									[(ngModel)]="model.subheader.style">
									<option value="transparent">Transparent</option>
									<option value="solid">Solid</option>
								</select>
								<div class="form-text text-muted">Select subheader style</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Subheader Layout:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid"
									name="builder[layout][subheader][layout]" [(ngModel)]="model.subheader.layout">
									<option value="subheader-v1">Subheader 1</option>
									<option value="subheader-v2">Subheader 2</option>
									<option value="subheader-v3">Subheader 3</option>
								</select>
								<div class="form-text text-muted">Select subheader layout</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-3">
					<ng-template ngbTabContent>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Width:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid" name="builder[layout][content][width]"
									[(ngModel)]="model.content.width">
									<option value="fluid">Fluid</option>
									<option value="fixed">Fixed</option>
								</select>
								<div class="form-text text-muted">Select layout width type.</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-4">
					<ng-template ngbTabContent>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Display:</label>
							<div class="col-lg-9 col-xl-6">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][self][display]"
											[(ngModel)]="model.aside.self.display" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Display aside</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Fixed:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][self][fixed]"
											[(ngModel)]="model.aside.self.fixed" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Set fixed aside layout</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Minimize:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][self][minimize][toggle]"
											[(ngModel)]="model.aside.self.minimize.toggle" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Allow aside minimizing</div>
							</div>
						</div>
						<!-- <div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Hoverable:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][self][minimize][hoverable]"
											[(ngModel)]="model.aside.self.minimize.hoverable" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Expand Minimized Aside on hover</div>
							</div>
						</div> -->
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Default Minimize:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][self][minimize][default]"
											[(ngModel)]="model.aside.self.minimize.default" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Set aside minimized by default</div>
							</div>
						</div>
						<!-- <div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Submenu Toggle:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>
										<input type="checkbox" name="builder[layout][aside][menu][dropdown]"
											[(ngModel)]="model.aside.menu.dropdown" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Select submenu toggle mode(works only when
									<code>Fixed Mode</code> is disabled="disabled")</div>
							</div>
						</div> -->
					</ng-template>
				</ngb-tab>
				<ngb-tab id="tab-id-5">
					<ng-template ngbTabContent>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Fixed Desktop Footer:</label>
							<div class="col-lg-9 col-xl-4">
								<span class="switch switch-icon">
									<label>	
										<input type="checkbox" name="builder[layout][footer][fixed]"
											[(ngModel)]="model.footer.fixed" value="true" />
										<span></span>
									</label>
								</span>
								<div class="form-text text-muted">Set fixed desktop footer</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label text-lg-right">Width:</label>
							<div class="col-lg-9 col-xl-4">
								<select class="form-control form-control-solid" name="builder[layout][footer][width]"
									[(ngModel)]="model.footer.width">
									<option value="fluid">Fluid</option>
									<option value="fixed">Fixed</option>
								</select>
								<div class="form-text text-muted">Select layout width type.</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
		<!--end::Body-->

		<!--begin::Footer-->
		<div class="card-footer">
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-8">
					<button type="submit" name="builder_submit" class="btn btn-primary">
						<i class="la la-eye"></i>
						Preview
					</button>
					&nbsp;
					<button type="submit" (click)="resetPreview($event)" name="builder_reset" class="btn btn-secondary">
						<i class="la la-recycle"></i>
						Reset
					</button>
				</div>
			</div>
		</div>
		<!--end::Footer-->
	</form>
	<!--end::Form-->
</div>
<!--end::Card-->

<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">Generated Config</h3>
		</div>
	</div>
	<div class="card-body">
		<!--begin::Example-->
		<div class="example mb-10">
			<p>Use for layout config in <code>/src/app/core/_config/layout.config.ts</code></p>
			<div class="example-code">
				<div class="example-code">
					<span class="example-copy" data-placement="left" ngbTooltip="Copy code"></span>
					<div class="example-highlight">
						<pre><code [highlight]="model|json"></code></pre>
					</div>
				</div>
			</div>
		</div>
		<!--end::Example-->
	</div>
</div>