<kt-portlet>
    <mat-card style="background: #3699ff;">
        <div style="font-size: 24px;
        color: white;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;">
            SCAN DE ENTREGA
        </div>
    </mat-card>
    <kt-portlet-body>
        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        Tracking
                    </mat-card-header>
                    <div class="separator separator-dashed my-6"></div>
                    <mat-card-content [formGroup]="scanForm">
                        <mat-form-field class="mat-form-field-fluid" style="width: 80%;font-size: 50px;margin-left: auto;margin-right: auto;">
                            <input #scanInput matInput placeholder="Scan by Tracking" formControlName="trackingControl" (keydown.enter)="scan($event)" />
                        </mat-form-field>

                        <div style="font-size: 50px;
                        width: fit-content;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;
                        padding: 25px;
                        margin-bottom: 30px;" class="status0" *ngIf="statusTitle == 'aceptado'; else elsetemp">
                            {{statusTitle}}
                        </div>
                        <ng-template #elsetemp>
                            <ng-container *ngIf="statusTitle != undefined">
                                <div style="font-size: 50px;
                                width: fit-content;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 30px;
                                padding: 25px;
                                margin-bottom: 30px;" class="status2">
                                    {{statusTitle}}
                                </div>
                            </ng-container>
                        </ng-template>

                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <mat-card-header>
                        SCAN LOG
                    </mat-card-header>
                    <div class="separator separator-dashed my-6"></div>
                    <mat-card-content>
                        <div class="container">
                            <div class="col" *ngFor="let warehouses of scannedLog">
                                <div style="font-size: 18px; font-weight: bold; margin: 5px;margin-left: -13px;">{{warehouses.scannedWarehouse.customer}}&nbsp;|&nbsp;{{warehouses.scannedWarehouse.idcustomers}}</div>
                                <div class="row" *ngFor="let warehouse of warehouses.deliveryWarehousesByCustomer">
                                    <!-- {{warehouse.tracking ? warehouse.tracking : warehouse.warehouse}} -->
                                    <ng-container *ngIf="warehouse.tracking">

                                        <div style="width: 80%;">{{warehouse.tracking}}</div>

                                        <ng-container *ngIf="checkScanned(warehouse); else temp">
                                            <div style="background: #3699FF; color: #cbe2fe; text-align: center; border-radius: 10px; margin-left: auto; margin-right: 20px; width: 15px; height: 15px; margin: auto;font-size: 11px;">
                                                &#10003;
                                            </div>
                                        </ng-container>
                                        <ng-template #temp>
                                            <div style="background: grey; color: whitesmoke; text-align: center; border-radius: 10px; margin-left: auto; margin-right: 20px; width: 15px; height: 15px; margin: auto;font-size: 11px;">
                                                &#10003;
                                            </div>
                                        </ng-template>
                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>