<mat-card style="overflow-y: auto;height: auto;max-height: 90vh">
    <mat-card-header >
        <span style="font-size: x-large;">WGroup</span>
        <button mat-raised-button color="white" type="button" style="margin-left: auto;
        width: 90px;
        margin-right: 20px;" (click)="cancel()">
            <span>Cancel</span>
        </button>
        <button mat-raised-button color="primary" type="button" style="width: 90px;" (click)="save()">
            <mat-icon style="margin-top: 4px;">save</mat-icon>
            <span>Save</span>
        </button>
    </mat-card-header>
    <div class="separator separator-dashed my-6"></div>
    <mat-card-content>
        <form class="card-body" *ngFor="let groupForm of getControls();let i = index" [formGroup]="groupForm">
            <div class="row">
                <div class="col-md-12" style="display: flex;padding: 10px">
                    <span style="font-size: 15px;width: 20%">Less than lbs</span>
                    <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                        <input matInput placeholder="Enter Value" formControlName="lbs" />
                        <mat-error>lbs is
                            <strong>required</strong>
                        </mat-error>
                        <mat-hint align="start">Please enter
                            <strong>lbs</strong>
                        </mat-hint>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="button" style="width: 90px;" (click)="addForm(i)">
                        <mat-icon style="margin-top: 4px;">add</mat-icon>
                    </button>
                </div>
                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;" *ngIf="i == 0">
                    <input matInput placeholder="Enter Name" formControlName="name" />
                    <mat-error>Name is
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Name</strong>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Air Cost" formControlName="wPrice" />
                    <mat-error>Air Cost
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Air Cost</strong>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Air Volumetric" formControlName="vPrice" />
                    <mat-error>Air Volumetric
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Air Volumetric</strong>
                    </mat-hint>
                </mat-form-field>






                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Maritime" formControlName="cubic" />
                    <mat-error>Maritime
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Maritime</strong>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Maritime trámites" formControlName="mWeight" />
                    <mat-error>Maritime trámites
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Maritime trámites</strong>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Air Pr Tramites" formControlName="bl" />
                    <mat-error>Air Pr Tramites
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Air Pr Tramites</strong>
                    </mat-hint>
                </mat-form-field>

                <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter Air PV Tramites" formControlName="sed" />
                    <mat-error>Air PV Tramites
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>Air PV Tramites</strong>
                    </mat-hint>
                </mat-form-field>








                <!-- <mat-form-field class="mat-form-field-fluid" style="margin-right: 20px;">
                    <input matInput placeholder="Enter FT3China" formControlName="m3China" />
                    <mat-error>FT3China
                        <strong>required</strong>
                    </mat-error>
                    <mat-hint align="start">Please enter
                        <strong>FT3China</strong>
                    </mat-hint>
                </mat-form-field> -->
                <div class="col-md-1" style="display: flex;">
                    <button mat-button color="primary" type="button" style="margin-left: -20px;" *ngIf="getControls().length != 1" (click)="deleteWarehouse(i)">
                        <mat-icon> delete</mat-icon>
                    </button>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>