<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
    <!--begin::Signup-->
    <div class="login-form login-signup" style="display: block;    margin-top: 20vh;">
        <div class="text-center mb-10 mb-lg-20">
            <h3 class="font-size-h1">Set Password</h3>
            <p class="text-muted font-weight-bold">Enter your new password</p>
        </div>

        <kt-auth-notice></kt-auth-notice>

        <form class="form" [formGroup]="passwordForm" autocomplete="off">

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('password','required')">
                        <strong>Required field</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','minlength')">
                        <strong>Minimum Length is 3</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','maxlength')">
                        <strong>Max length is 100</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="off" />
                    <mat-error *ngIf="isControlHasError('confirmPassword','required')">
                        <strong>Required field</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('confirmPassword','minlength')">
                        <strong>Minimum Length is 3</strong>
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('confirmPassword','maxlength')">
                        <strong>Max length is 100</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('confirmPassword').errors && passwordForm.get('confirmPassword').errors.ConfirmPassword">
                        <strong>Passsword and ConfirmPassword didn't match.</strong>
                    </mat-error>
                </mat-form-field>
                <!-- <a href="javascript:;" routerLink="/auth/login" class="text-dark-50 text-hover-primary my-3 mr-2"
				id="kt_login_forgot">Already have an account? Login</a> -->
            </div>

            <!--begin::Action-->
            <div class="form-group d-flex flex-wrap flex-center">
                <button (click)="submit()" id="kt_login_signup_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" [ngClass]="{'spinner spinner-right spinner-md spinner-light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
                <a href="/auth/login" id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</a>
            </div>
            <!--end::Action-->
        </form>
    </div>
    <!--end::Signup-->
</div>