/* You can add global styles to this file, and also import other style files */

// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";
// Metronic styles
@import "./assets/sass/style.angular.scss";
@import "./assets/sass/vendors/angular/material/angular-material";
@import "./assets/sass/vendors/angular/material/include";
// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";
// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }
// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }
// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }
// Brand themes
.brand-dark {
    @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
    @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }
// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }
//hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
    display: none !important;
}

.mat-table-wrapper-dashboard .mat-table {
    min-width: 600px !important;
    width: 100% !important;
}

.position-static {
    position: static;
}

.dropdown-fluid {
    height: 100%;
    .topbar-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.mat-dialog-container {
    padding: 0 !important;
}

.status0 {
    background-color: #cbe2fe;
    color: #3699FF;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

.status1 {
    background-color: #ebedf3;
    color: #3f4254;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

.status2 {
    background-color: #ffe2e5;
    color: #f64e60;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

.status3 {
    background-color: #c9f7f5;
    color: #1bc5bd;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

.status4 {
    background-color: #f3f6f9;
    color: #3699FF;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

.status5 {
    background-color: #ffdaa9;
    color: #ff9100;
    border-radius: .42rem;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    padding: 0.4rem 0.75rem;
    margin-bottom: auto;
}

// .print .cdk-overlay-container{
//   left: 10000px !important;
// }
// d-flex align-items-stretch justify-content-between container-fluid {
// 	box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
// }