<!-- <div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
    <div class="login login-3 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
 
        <div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10"
            style="background: #34448F;">
 
            <div class="d-flex flex-row-fluid flex-column justify-content-between">
 
                <div class="flex-column-fluid d-flex flex-column justify-content-center">
                    <h3 class="font-size-h1 mb-5 text-white">Anexacargo Panamá</h3>
                    <p class="font-weight-lighter text-white opacity-80">
                        Compra por internet y recibe en tu hogar
                    </p>
                </div>
 
                <div class="d-none flex-column-auto d-lg-flex justify-content-between mt-4">
                    <div class="opacity-70 font-weight-bold	text-white">
                        &copy; 2020 Anexacargo Panama
                    </div>
 
                </div> 
            </div>

        </div> 
        <div class="flex-row-fluid d-flex flex-column position-relative p-7 overflow-hidden"
            style="overflow-y: auto !important;">

 
            <router-outlet></router-outlet>
       
        </div> 
    </div>
</div> -->

<div class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed
  " style="padding: 10%;background-color:#34448F ;height: 100%;">
    <!--begin::Content-->
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20" style="height: 100%;">
        <!-- <a routerLink="/" class="mb-12"><img alt="Logo" src="./assets/media/logos/logo-1.svg" class="h-45px" /></a> -->

        <!--begin::Content body-->
        <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
            <router-outlet></router-outlet>
        </div>
        <!--end::Content body-->
    </div>
    <!--end::Content-->

    <!-- begin::Footer -->
    <!-- <div class="d-flex flex-center flex-column-auto p-10">
        <div class="d-flex align-items-center fw-bold fs-6">
            <a class="text-muted text-hover-primary px-2 cursor-pointer">About</a><a
                class="text-muted text-hover-primary px-2 cursor-pointer">Contact</a><a
                class="text-muted text-hover-primary px-2 cursor-pointer">Contact Us</a>
        </div>
    </div> -->
    <!-- end::Footer -->
</div>