<kt-portlet>
    <kt-portlet-header [class]="'card-head-lg'">
        <ng-container ktPortletTitle>
            Wdelivery
        </ng-container>
        <ng-container ktPortletTools>
            <button mat-raised-button color="primary" type="button" (click)="viewGroup('')">
				<mat-icon style="margin-top: 4px;">add</mat-icon>
				<span>Add Group</span>
			</button>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="col-md-2 kt-margin-bottom-10-mobile">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)" />
                <mat-hint align="start">
                    <strong>Search</strong> in all fields
                </mat-hint>
            </mat-form-field>
        </div>

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="group">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
                <mat-cell *matCellDef="let group" (click)="viewGroup(group)">{{group.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
                <mat-cell *matCellDef="let group" (click)="viewGroup(group)">{{group.price}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let group">
                    <button mat-button color="primary" type="button" (click)="deleteGroup(group)">
                        <mat-icon> delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>

        <mat-paginator [showFirstLastButtons]="true" [pageSize]="10" [length]="10" [pageSizeOptions]="[10, 20, 30, 40]">
        </mat-paginator>

    </kt-portlet-body>
</kt-portlet>